<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>687550089448-kahattvs8rn18d00aa10lt49259bl279.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.687550089448-kahattvs8rn18d00aa10lt49259bl279</string>
	<key>API_KEY</key>
	<string>AIzaSyAHUq-QzcSyn2AXuReS47rERrs3K2OKoLM</string>
	<key>GCM_SENDER_ID</key>
	<string>687550089448</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taskManager</string>
	<key>PROJECT_ID</key>
	<string>task-manager-9d8c5</string>
	<key>STORAGE_BUCKET</key>
	<string>task-manager-9d8c5.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:687550089448:ios:fed5ac415d54af5ce6e15d</string>
</dict>
</plist>